n8n/chat_workflow.json
{
    "name": "Workflow 2: Chat RAG (Integrated)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "chat-webhook",
            "name": "Chat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "chat-webhook-id"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://python_api:8000/api/chat",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $json.body.query }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "call-python-api",
            "name": "Call Python Chat API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-to-webhook",
            "name": "Respond to Chat",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Chat Webhook": {
            "main": [
                [
                    {
                        "node": "Call Python Chat API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Python Chat API": {
            "main": [
                [
                    {
                        "node": "Respond to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true
}